<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>SAL MW Configuration</title>
    <style>
        .login-block {
            margin-left: 50%;
            width: 360px;
            background: rgba(255, 255, 255, 0.65);
            float: none;
            z-index: 2;
            padding: 10px 26px 10px 21px;
            text-align: center;
        }
    </style>
</head>
<body class="jumbotron"
      style="background: url('https://marriott.brandmakerinc.com/skinning/file?file=images%2Fsplashscreen')">

<div class="login-block">
    <h1 class="jumbotron-heading text-center">SAL MW Configuration</h1>
    <div>Access forbidden, please log in <a href="../login.do" style="color: darkred">here</a></div>
</div>
</body>
</html>