<!doctype html>
<html xmlns:th="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <meta charset="utf-8">
    <title>SAL MW Configuration</title>
    <script src="./webjars/jquery/3.0.0/jquery.min.js"></script>
    <script src="./webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="./webjars/bootstrap/4.3.1/css/bootstrap.min.css"/>
    <style>
        .statuses tr:last-child {
            background-color: #d6d6d6;
        }
    </style>
    <script>
        $(document).ready(function () {
            $('#overview-list a').on('click', function (e) {
                debugger;
                e.preventDefault()
                $(this).tab('show')
            });
        });
    </script>
</head>
<body class="jumbotron">

<div>
    <h1 class="jumbotron-heading text-center">SAL MW Configuration</h1>
    <div class="text-center" th:text="'version : ' + ${version}"></div>
    <br/>
    <div class="d-flex justify-content-center">
        <div class="col-md-2">
            <div class="card border-info mx-sm-1 p-3">
                <a href="./listConfigProperties" class="btn btn-secondary btn-lg btn-block" role="button"
                   aria-pressed="true">Application properties configuration</a>
            </div>
        </div>
        <div class="col-md-2">
            <div class="card border-success mx-sm-1 p-3">
                <a href="./listPropertyVariants" class="btn btn-secondary btn-lg btn-block" role="button"
                   aria-pressed="true">Property variants configuration</a>
            </div>
        </div>
        <div class="col-md-2">
            <div class="card border-warning mx-sm-1 p-3">
                <a href="../ShowLog.do" class="btn btn-secondary btn-lg btn-block" role="button"
                   aria-pressed="true">Application<br/>Log</a>
            </div>
        </div>
    </div>
    <br/>
    <div class="d-flex justify-content-center">
        <div class="card w-50">
            <div class="card-header">
                <ul class="nav nav-tabs card-header-tabs" id="overview-list" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" href="#assets-overview" aria-selected="true" role="tab"
                           aria-controls="assets-overview">Assets status
                            overview</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#excel-overview" aria-selected="false" role="tab"
                           aria-controls="excel-overview">Excel
                            Files
                            overview</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#folder-size-overview" aria-selected="false" role="tab"
                           aria-controls="folder-size-overview">Image folder size</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#jobs-overview" aria-selected="false" role="tab"
                           aria-controls="jobs-overview">Running jobs</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#functions" aria-selected="false" role="tab"
                           aria-controls="functions">Functions</a>
                    </li>
                </ul>
            </div>
            <div class="card-body">
                <div class="tab-content mt-3">
                    <div class="tab-pane active" id="assets-overview" role="tabpanel"
                         aria-labelledby="assets-overview-tab">
                        <div class="d-flex justify-content-center">
                            <form method="GET" action="#" th:action="@{/}">
                                <label for="dateFrom">Date from:</label>
                                <input type="date" id="dateFrom" name="dateFrom" th:value="${dateFrom}"
                                       onchange="this.form.submit()">

                                <label for="dateTo">Date to:</label>
                                <input type="date" id="dateTo" name="dateTo" th:value="${dateTo}"
                                       onchange="this.form.submit()">
                            </form>
                        </div>

                        <br/>
                        <div>
                            <table class="table statuses table-sm table-responsive-md">
                                <caption></caption>
                                <thead class="thead-dark">
                                <tr>
                                    <th scope="col">Status</th>
                                    <th scope="col">Assets</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="object : ${mapCurrentStatus}">
                                    <th scope="col" th:text="${object.key}"></th>
                                    <th scope="col" th:text="${object.value}"></th>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="tab-pane" id="excel-overview" role="tabpanel" aria-labelledby="excel-overview-tab">
                        <div>
                            <ul class="list-group">
                                <li class="list-group-item list-group-item-info">Excel file list</li>
                                <li class="list-group-item" th:each="file : ${files}">
                                    <a th:href="'./downloadFile/' + ${file}" th:text="${file}"></a>
                                </li>
                                <li class="list-group-item" th:if="${files==null or files.isEmpty()}">No files
                                    currently!
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="tab-pane" id="folder-size-overview" role="tabpanel"
                         aria-labelledby="folder-size-overview-tab">
                        <div>
                            <ul class="list-group">
                                <li class="list-group-item list-group-item-warning">Current folder size</li>
                                <li class="list-group-item">
                                    <div th:text="${folderSize} + ' GB'"></div>
                                </li>
                            </ul>

                        </div>
                    </div>

                    <div class="tab-pane" id="jobs-overview" role="tabpanel"
                         aria-labelledby="jobs-overview-tab">
                        <div>
                                <table class="table">
                                    <thead>
                                    <tr class="table-success">
                                        <th>Job name</th>
                                        <th>Last scheduled date</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="job : ${currentJobs}">
                                        <td th:text="${job.jobName}"></td>
                                        <td th:text="${job.created}"></td>
                                    </tr>
                                    <tr th:if="${currentJobs==null or currentJobs.isEmpty()}">
                                        <td colspan="2">No running jobs at the moment.</td>
                                    </tr>
                                    </tbody>
                                </table>
                        </div>
                    </div>

                    <div class="tab-pane" id="functions" role="tabpanel"
                         aria-labelledby="functions-tab">
                        <div class="form-group-sm row">
                            <label class="col-sm-6 col-form-label">Remove assets with error</label>
                            <div class="col-sm-6 input-group input-group-sm mb-3">
                                <a href="./removeAssetsWithError" class="btn btn-info">Execute remove</a>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>