<!doctype html>
<html xmlns:th="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <meta charset="utf-8">
    <title>SAL MW Configuration</title>
    <script src="./webjars/jquery/3.0.0/jquery.min.js"></script>
    <script src="./webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="./webjars/bootstrap/4.3.1/css/bootstrap.min.css"/>
</head>
<body class="jumbotron">

<div>
    <h1 class="jumbotron-heading text-center">SAL MW Configuration</h1>
    <div class="text-center" th:text="'version : ' + ${version}"></div>
    <br/>
    <div class="d-flex justify-content-center">
        <div class="col-md-2">
            <div class="card border-info mx-sm-1 p-3">
                <a href="./listConfigProperties" class="btn btn-secondary btn-lg btn-block" role="button"
                   aria-pressed="true">Application properties configuration</a>
            </div>
        </div>
        <div class="col-md-2">
            <div class="card border-success mx-sm-1 p-3">
                <a href="./listPropertyVariants" class="btn btn-secondary btn-lg btn-block" role="button"
                   aria-pressed="true">Property variants configuration</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>