<html xmlns:th="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <title>Property Variants Configuration</title>
    <script src="./webjars/jquery/3.0.0/jquery.min.js"></script>
    <script src="./webjars/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="./webjars/bootstrap/4.3.1/css/bootstrap.min.css"/>
    <script>
        $(document).ready(function () {
            $('.dropdown-item').click(function () {
                $('.panelcollapse').hide();
                $(this.getAttribute('data-target')).show()
            });

            $("#createNew").click(function () {
                $('.panelcollapse').hide();
                $('#panelCreateNew').show();
                $('#panelCreateNewCollapse').show();
            });
        });
    </script>
</head>
<body>

<div class="container">
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col" class="col-sm-11 align-middle">SAL MW Property Variants Configuration</th>
            <th scope="col"><a href="." class="btn btn-info">Back</a></th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td colspan="2">

                <div class="btn-group-justified">
                    <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                        Choose Property Variants
                    </button>
                    <div class="dropdown-menu">
                        <a data-toggle="collapse"
                           class="dropdown-item"
                           th:each="propertyVariant : ${propertyVariants}"
                           th:href="${'#propertyVariant'+propertyVariant.key}" role="button" aria-expanded="false"
                           th:data-target="${'#propertyVariant'+propertyVariant.key}"
                           th:aria-controls="${'#propertyVariant'+propertyVariant.key}"
                           th:text="${propertyVariant.key + '  ' + propertyVariant.value.structureName}"></a>
                    </div>
                    <a type="button" th:href="@{/exportPropertyVariantsFile}" class="btn btn-primary">Export</a>
                    <a type="button" href="#" id="createNew" class="btn btn-info"
                       data-target="panelCreateNew">Create</a>
                </div>

                <div th:each="propertyVariant : ${propertyVariants}" class="collapse panelcollapse hide"
                     th:id="${'propertyVariant'+propertyVariant.key}">
                    <div th:each="object : ${propertyVariant.value}">
                        <div class="row">
                            <div class="col">
                                <form th:object="${malPropertyVariant}" method="POST" action="#"
                                      th:action="@{/updatePropertyVariants}">
                                    <div class="collapse multi-collapse"
                                         th:id="${'propertyVariant'+propertyVariant.key}">
                                        <div class="card card-body">
                                            <div class="form-group-sm row">
                                                <label class="col-sm-6 col-form-label" for="id">ID</label>
                                                <div class="col-sm-6 input-group input-group-sm mb-3">
                                                    <input type="text" class="form-control" th:value="${object.id}"
                                                           name="id"
                                                           id="id"/>
                                                </div>
                                            </div>

                                            <div class="form-group-sm row">
                                                <label class="col-sm-6 col-form-label" for="brandName">Brand
                                                    Name</label>
                                                <div class="col-sm-6 input-group input-group-sm mb-3">
                                                    <input type="text" class="form-control"
                                                           th:value="${object.brandName}"
                                                           name="brandName"
                                                           id="brandName"/>
                                                </div>
                                            </div>

                                            <div class="form-group-sm row">
                                                <label class="col-sm-6 col-form-label" for="structureName">Structure
                                                    Name</label>
                                                <div class="col-sm-6 input-group input-group-sm mb-3">
                                                    <input type="text" class="form-control"
                                                           th:value="${object.structureName}"
                                                           name="structureName"
                                                           id="structureName"/>
                                                </div>
                                            </div>

                                            <div class="form-group-sm row">
                                                <label class="col-sm-6 col-form-label" for="structureNameRadiobutton">Structure
                                                    Name
                                                    Radio Button</label>
                                                <div class="col-sm-6 input-group input-group-sm mb-3">
                                                    <input type="text" class="form-control"
                                                           th:value="${object.structureNameRadiobutton}"
                                                           name="structureNameRadiobutton"
                                                           id="structureNameRadiobutton"/>
                                                </div>
                                            </div>

                                            <div class="form-group-sm row">
                                                <label class="col-sm-6 col-form-label" for="subName">Sub name
                                                    (Images)</label>
                                                <div class="col-sm-6 input-group input-group-sm mb-3">
                                                    <input type="text" class="form-control" th:value="${object.subName}"
                                                           name="subName"
                                                           id="subName"/>
                                                </div>
                                            </div>

                                            <div class="form-group-sm row">
                                                <label class="col-sm-6 col-form-label" for="subNameRadiobutton">Sub name
                                                    radio button
                                                    (Images)</label>
                                                <div class="col-sm-6 input-group input-group-sm mb-3">
                                                    <input type="text" class="form-control"
                                                           th:value="${object.subNameRadiobutton}"
                                                           name="subNameRadiobutton"
                                                           id="subNameRadiobutton"/>
                                                </div>
                                            </div>

                                            <div class="form-group-sm row">
                                                <label class="col-sm-6 col-form-label" for="subNameMaps">Sub name
                                                    (Maps)</label>
                                                <div class="col-sm-6 input-group input-group-sm mb-3">
                                                    <input type="text" class="form-control"
                                                           th:value="${object.subNameMaps}"
                                                           name="subNameMaps"
                                                           id="subNameMaps"/>
                                                </div>
                                            </div>

                                            <div class="form-group-sm row">
                                                <label class="col-sm-6 col-form-label" for="subNameMapsRadiobutton">Sub
                                                    name radio
                                                    button (Maps)</label>
                                                <div class="col-sm-6 input-group input-group-sm mb-3">
                                                    <input type="text" class="form-control"
                                                           th:value="${object.subNameMapsRadiobutton}"
                                                           name="subNameMapsRadiobutton"
                                                           id="subNameMapsRadiobutton"/>
                                                </div>
                                            </div>

                                            <div class="form-group-sm row">
                                                <label class="col-sm-6 col-form-label" for="subNameFloorPlans">Sub name
                                                    (Floor
                                                    Plans)</label>
                                                <div class="col-sm-6 input-group input-group-sm mb-3">
                                                    <input type="text" class="form-control"
                                                           th:value="${object.subNameFloorPlans}"
                                                           name="subNameFloorPlans"
                                                           id="subNameFloorPlans"/>
                                                </div>
                                            </div>

                                            <div class="form-group-sm row">
                                                <label class="col-sm-6 col-form-label"
                                                       for="subNameFloorPlansRadiobutton">Sub name radio
                                                    button (Floor Plans)</label>
                                                <div class="col-sm-6 input-group input-group-sm mb-3">
                                                    <input type="text" class="form-control"
                                                           th:value="${object.subNameFloorPlansRadiobutton}"
                                                           name="subNameFloorPlansRadiobutton"
                                                           id="subNameFloorPlansRadiobutton"/>
                                                </div>
                                            </div>

                                            <div class="form-group-sm row">
                                                <label class="col-sm-6 col-form-label" for="addressField01">Address
                                                    Field 01</label>
                                                <div class="col-sm-6 input-group input-group-sm mb-3">
                                                    <textarea class="form-control"
                                                              th:text="${object.addressField01}"
                                                              name="addressField01"
                                                              rows="5"
                                                              id="addressField01"></textarea>
                                                </div>
                                            </div>

                                            <div class="form-group-sm row">
                                                <label class="col-sm-6 col-form-label" for="addressField02">Address
                                                    Field 02</label>
                                                <div class="col-sm-6 input-group input-group-sm mb-3">
                                                    <textarea class="form-control"
                                                              th:text="${object.addressField02}"
                                                              name="addressField02"
                                                              rows="5"
                                                              id="addressField02"></textarea>
                                                </div>
                                            </div>

                                            <div class="form-group-sm row">
                                                <label class="col-sm-6 col-form-label" for="addressField03">Address
                                                    Field 03</label>
                                                <div class="col-sm-6 input-group input-group-sm mb-3">
                                                     <textarea class="form-control"
                                                               th:text="${object.addressField03}"
                                                               name="addressField03"
                                                               rows="5"
                                                               id="addressField03"></textarea>
                                                </div>
                                            </div>

                                            <div class="form-group-sm row">
                                                <label class="col-sm-6 col-form-label" for="addressField04">Address
                                                    Field 04</label>
                                                <div class="col-sm-6 input-group input-group-sm mb-3">
                                                    <textarea class="form-control"
                                                              th:text="${object.addressField04}"
                                                              name="addressField04"
                                                              rows="5"
                                                              id="addressField04"></textarea>
                                                </div>
                                            </div>

                                            <div class="form-group-sm row">
                                                <label class="col-sm-6 col-form-label" for="addressField05">Address
                                                    Field 05</label>
                                                <div class="col-sm-6 input-group input-group-sm mb-3">
                                                    <textarea class="form-control"
                                                              th:text="${object.addressField05}"
                                                              name="addressField05"
                                                              rows="5"
                                                              id="addressField05"></textarea>
                                                </div>
                                            </div>

                                            <div class="form-group-sm row">
                                                <label class="col-sm-6 col-form-label" for="fields">Fields</label>
                                                <div class="col-sm-6 input-group input-group-sm mb-3">
                                                    <textarea class="form-control"
                                                              th:text="${object.fields}"
                                                              name="fields"
                                                              rows="5"
                                                              id="fields"></textarea>
                                                </div>
                                            </div>

                                            <div class="form-group-sm row">
                                                <div class="col-sm-2 input-group input-group-sm mb-3">
                                                    <button type="submit" class="btn btn-primary">Update</button>
                                                </div>
                                                <div class="col-sm-2 input-group input-group-sm mb-3">
                                                    <input type="hidden" id="isDelete" name="isDelete" value="false"/>
                                                    <button type="submit" onclick="$('#isDelete').val('true');"
                                                            class="btn btn-danger">Delete
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="collapse panelcollapse hide"
                     id="panelCreateNew">
                    <div>
                        <div class="row">
                            <div class="col">
                                <form th:object="${malPropertyVariant}" method="POST" action="#"
                                      th:action="@{/updatePropertyVariants}">
                                    <div class="collapse multi-collapse"
                                         id="panelCreateNewCollapse">
                                        <div class="card card-body">
                                            <div class="form-group-sm row">
                                                <label class="col-sm-6 col-form-label" for="idNew">ID</label>
                                                <div class="col-sm-6 input-group input-group-sm mb-3">
                                                    <input type="text" class="form-control"
                                                           name="id"
                                                           id="idNew"/>
                                                </div>
                                            </div>

                                            <div class="form-group-sm row">
                                                <label class="col-sm-6 col-form-label" for="brandNameNew">Brand
                                                    Name</label>
                                                <div class="col-sm-6 input-group input-group-sm mb-3">
                                                    <input type="text" class="form-control"
                                                           name="brandName"
                                                           id="brandNameNew"/>
                                                </div>
                                            </div>

                                            <div class="form-group-sm row">
                                                <label class="col-sm-6 col-form-label" for="structureNameNew">Structure
                                                    Name</label>
                                                <div class="col-sm-6 input-group input-group-sm mb-3">
                                                    <input type="text" class="form-control"
                                                           name="structureName"
                                                           id="structureNameNew"/>
                                                </div>
                                            </div>

                                            <div class="form-group-sm row">
                                                <label class="col-sm-6 col-form-label"
                                                       for="structureNameRadiobuttonNew">Structure
                                                    Name
                                                    Radio Button</label>
                                                <div class="col-sm-6 input-group input-group-sm mb-3">
                                                    <input type="text" class="form-control"
                                                           name="structureNameRadiobutton"
                                                           id="structureNameRadiobuttonNew"/>
                                                </div>
                                            </div>

                                            <div class="form-group-sm row">
                                                <label class="col-sm-6 col-form-label" for="subNameNew">Sub name
                                                    (Images)</label>
                                                <div class="col-sm-6 input-group input-group-sm mb-3">
                                                    <input type="text" class="form-control"
                                                           name="subName"
                                                           id="subNameNew"/>
                                                </div>
                                            </div>

                                            <div class="form-group-sm row">
                                                <label class="col-sm-6 col-form-label" for="subNameRadiobuttonNew">Sub
                                                    name
                                                    radio button
                                                    (Images)</label>
                                                <div class="col-sm-6 input-group input-group-sm mb-3">
                                                    <input type="text" class="form-control"
                                                           name="subNameRadiobutton"
                                                           id="subNameRadiobuttonNew"/>
                                                </div>
                                            </div>

                                            <div class="form-group-sm row">
                                                <label class="col-sm-6 col-form-label" for="subNameMapsNew">Sub name
                                                    (Maps)</label>
                                                <div class="col-sm-6 input-group input-group-sm mb-3">
                                                    <input type="text" class="form-control"
                                                           name="subNameMaps"
                                                           id="subNameMapsNew"/>
                                                </div>
                                            </div>

                                            <div class="form-group-sm row">
                                                <label class="col-sm-6 col-form-label" for="subNameMapsRadiobuttonNew">Sub
                                                    name radio
                                                    button (Maps)</label>
                                                <div class="col-sm-6 input-group input-group-sm mb-3">
                                                    <input type="text" class="form-control"
                                                           name="subNameMapsRadiobutton"
                                                           id="subNameMapsRadiobuttonNew"/>
                                                </div>
                                            </div>

                                            <div class="form-group-sm row">
                                                <label class="col-sm-6 col-form-label" for="subNameFloorPlansNew">Sub
                                                    name
                                                    (Floor
                                                    Plans)</label>
                                                <div class="col-sm-6 input-group input-group-sm mb-3">
                                                    <input type="text" class="form-control"
                                                           name="subNameFloorPlans"
                                                           id="subNameFloorPlansNew"/>
                                                </div>
                                            </div>

                                            <div class="form-group-sm row">
                                                <label class="col-sm-6 col-form-label"
                                                       for="subNameFloorPlansRadiobuttonNew">Sub name radio
                                                    button (Floor Plans)</label>
                                                <div class="col-sm-6 input-group input-group-sm mb-3">
                                                    <input type="text" class="form-control"
                                                           name="subNameFloorPlansRadiobutton"
                                                           id="subNameFloorPlansRadiobuttonNew"/>
                                                </div>
                                            </div>

                                            <div class="form-group-sm row">
                                                <label class="col-sm-6 col-form-label" for="addressField01New">Address
                                                    Field 01</label>
                                                <div class="col-sm-6 input-group input-group-sm mb-3">
                                                    <textarea class="form-control"
                                                              name="addressField01"
                                                              rows="5"
                                                              id="addressField01New"></textarea>
                                                </div>
                                            </div>

                                            <div class="form-group-sm row">
                                                <label class="col-sm-6 col-form-label" for="addressField02New">Address
                                                    Field 02</label>
                                                <div class="col-sm-6 input-group input-group-sm mb-3">
                                                    <textarea class="form-control"
                                                              name="addressField02"
                                                              rows="5"
                                                              id="addressField02New"></textarea>
                                                </div>
                                            </div>

                                            <div class="form-group-sm row">
                                                <label class="col-sm-6 col-form-label" for="addressField03New">Address
                                                    Field 03</label>
                                                <div class="col-sm-6 input-group input-group-sm mb-3">
                                                     <textarea class="form-control"
                                                               name="addressField03"
                                                               rows="5"
                                                               id="addressField03New"></textarea>
                                                </div>
                                            </div>

                                            <div class="form-group-sm row">
                                                <label class="col-sm-6 col-form-label" for="addressField04New">Address
                                                    Field 04</label>
                                                <div class="col-sm-6 input-group input-group-sm mb-3">
                                                    <textarea class="form-control"
                                                              name="addressField04"
                                                              rows="5"
                                                              id="addressField04New"></textarea>
                                                </div>
                                            </div>

                                            <div class="form-group-sm row">
                                                <label class="col-sm-6 col-form-label" for="addressField05New">Address
                                                    Field 05</label>
                                                <div class="col-sm-6 input-group input-group-sm mb-3">
                                                    <textarea class="form-control"
                                                              name="addressField05"
                                                              rows="5"
                                                              id="addressField05New"></textarea>
                                                </div>
                                            </div>

                                            <div class="form-group-sm row">
                                                <label class="col-sm-6 col-form-label" for="fieldsNew">Fields</label>
                                                <div class="col-sm-6 input-group input-group-sm mb-3">
                                                    <textarea class="form-control"
                                                              name="fields"
                                                              rows="5"
                                                              id="fieldsNew"></textarea>
                                                </div>
                                            </div>

                                            <div class="form-group-sm row">
                                                <div class="col-sm-6 col-sm-6 input-group input-group-sm mb-3">
                                                    <button type="submit" class="btn btn-primary">Create</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>